<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <mat-card-content>
    <div class="centered-block markdown-container mat-typography">
      <h1>Connect your {{ title$ | async }} project to GlitchTip</h1>
      <!-- This is where Scully will inject the static HTML -->
      <scully-content></scully-content>
    </div>
  </mat-card-content>
</mat-card>
