<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <mat-card-content>
    <div class="centered-block">
      <div>
        <a routerLink="/documentation">< Back to Documentation</a>
      </div>
      <div class="markdown-container mat-typography">
        <!-- This is where Scully will inject the static HTML -->
        <scully-content></scully-content>
      </div>
    </div>
  </mat-card-content>
</mat-card>
